{% extends "books/base.html" %}
{% block main_content %}
    <div class="my-3 container items-container overflow rounded">
        <div class="row row-cols-1 mx-auto p-3 rounded bg-light">
            <div class="artigos col d-flex flex-nowrap overflow-y-hidden overflow-x-auto">
                {% for book in cart_books %}
                    <div class="card me-4">
                        <div class="card-image w-100 overflow-hidden">
                            <img src="{{book.cover.url}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <!-- title -->
                            <div class="title d-flex justify-content-center">
                                <h5 class="card-title text-center" title="{{book.title}}"><a href="{% url 'book-detail' book.id %}" class="text-decoration-none text-dark">{{book.title}}</a></h5>
                            </div>
                            <!-- price -->
                            <div class="price">
                                {% if book.is_sale %}
                                    <h6 class="text-center text-danger">US${{book.sale_price}}</h6>
                                    <h6 class="text-center text-secondary text-decoration-line-through">US${{book.price}}</h6>
                                {% else %}
                                    <h6 class="text-center">US${{book.price}}</h6>
                                {% endif %}
                            </div>
                            <!-- buttons -->
                            <!-- amount buttons group -->
                            <div class="amount-button btn-group w-100 mb-3" role="group" aria-label="First group">
                                <!-- decrease button -->
                                <button type="button" class="btn btn-sm btn-outline-warning" onclick="decrease(this)"><</button>
                                <!-- input -->
                                {% for key, value in quantities.items %}
                                    {% if key == book.id|slugify %}
                                        <input type="number" id="{{book.id}}" class="amount-input btn btn-sm btn-outline-warning" value="{{value}}" min="1" max="10" disabled>
                                    {% endif %}
                                {% endfor %}
                                <!-- increase button -->
                                <button type="button" class="btn btn-sm btn-outline-warning" onclick="increase(this)">></button>
                            </div>
                            <div class="update-remove--buttons w-100 d-flex justify-content-center align-items-center">
                                <button type="button" data-index="{{book.id}}" class="update-cart btn btn-outline-primary me-4">Actualizar</button>
                                <button type="button" data-index="{{book.id}}" class="delete-book btn btn-outline-danger">Remover</button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>
                        Não existe itens no carrinho ainda, pode sempre <span><a href="{% url 'home' %}" class="link link-primary">Voltar para a Home</a></span> ou pesquisar por algum livro ou tema que lhe interesse..
                    </p> 
                {% endfor %}
            </div>
            {% if cart_books %}  
                <div class="col pt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Total estimado</h5>
                            <p class="card-text">US${{totals}}</p>
                            <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock main_content %}
{% block adicional_scripts %}   
<script>
    // Update Cart
    $(document).on('click', '.update-cart', function(e) {
        e.preventDefault();
        // grab the book id
        var bookid = $(this).data('index');
        console.log($(this).parentElement)

        $.ajax({
            type: 'POST',
            url: "{% url 'cart_update' %}",
            data: {
                book_id: $(this).data('index'),
                book_qty: $('#' + bookid).val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {
                location.reload();
            },

            error: function(xhr, errmsg, err) {

            }
        });
    });
    // Delete Item From Cart
    $(document).on('click', '.delete-book', function(e) {
        e.preventDefault();
        // grab the book id

        $.ajax({
            type: 'POST',
            url: "{% url 'cart_delete' %}",
            data: {
                book_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {
                location.reload();
            },

            error: function(xhr, errmsg, err) {

            }
        });
    });
    
    /* aumenta e diminui a quantidade de um livro */

    const increase = (increaseButton) => {
        // pega o input relacionado ao botão clicado
        const amountInput = increaseButton.parentElement.querySelector('.amount-input');
        if (Number(amountInput.value) - amountInput.max) {
            amountInput.value = Number(amountInput.value) + 1;
        }
    }
    const decrease = (decreaseButton) => {
        // pega o input relacionado ao botão clicado
        const amountInput = decreaseButton.parentElement.querySelector('.amount-input');
        if (Number(amountInput.value) > amountInput.min) {
            amountInput.value = Number(amountInput.value) - 1;
        }
    }
</script>
{% endblock adicional_scripts %}
