{% extends "books/base.html" %}

<!-- bootstrap5 -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block main_content %}
    <div class="container py-5">
        <!-- form -->
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="mb-3">
                    <!-- {{form}} -->
                    {% bootstrap_form form %}
                </div>
                {% buttons %}
                    <button class="btn btn-primary" type="submit">Alterar password</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock main_content %}