{% extends "books/base.html" %}
{% block main_content%}
    <div class="container my-5">
        <div class="card border-success mb-3">
            <div class="card-header fw-bold text-success">{{user.username}} - {{user.email}}</div>
            <div class="card-body text-success">
              <h5 class="card-title">Bem-vindo ao seu perfil, {{user.username}}</h5>
              <p class="card-text">Aqui você pode gerenciar os seus livros e as suas informações como por exemplo as informações de entrega. A baixo vai encontrar os seus livro e logo a seguir as suas informações de entrega com link para poder editar a mesma</p>
            </div>
        </div>
        <h4 class="fw-bold">Sua Biblioteca</h4>
        <div class="row d-flex justify-content-center justify-content-md-between p-3 border rounded">
            {% for item in ordered_items %}
                <div class="my-book col-auto d-md-flex justify-content-center">
                    <div>
                        <div class="book-image overflow-hidden rounded" style="width: 150px; height: 210px;">
                            <img src="{{item.book.cover.url}}" alt="" style="width: 150px; height: 210px; object-fit: fill;">
                        </div>
                        <small class="fw-bold">{{item.book.title}}</small>
                    </div>
                </div>
            {% empty %}
                <p class="text-center text-secondary">Você está sem livro na sua biblioteca por agora, Experimente começar <a href="{% url 'home' %}" class="btn btn-sm btn-outline-primary">por aqui</a> ...</p>
            {% endfor %}
        </div>
        <br>
        <!-- Apenas apresenta o botão se o usuário tiver algum livro na sua biblioteca -->
        {% if ordered_items %}
            <a href="{% url 'user-books' %}" class="btn btn-outline-primary">ver todos os livros</a>
        {% endif %}
        <br><br>
        <div class="card border-secondary mb-3">
            <div class="card-header fw-bold text-secondary">Informações de entrega</div>
            <div class="card-body text-secondary">
                <p class="card-text">
                    <strong>Email:</strong> {{shipping_addres.shipping_email}} <br>
                    <strong>Endereço 1:</strong> {{shipping_addres.shipping_address1}} <br>
                    <strong>Endereço 2:</strong> {{shipping_addres.shipping_address2}} <br>
                    <strong>Cidade:</strong> {{shipping_addres.shipping_city}} <br>
                    <strong>Telefone:</strong> {{shipping_addres.shipping_phone_number}} <br>
                    <strong>Método de entrega:</strong> {{shipping_addres.shipping_mode}} <br>
                </p>
            </div>
        </div>
        <a href="{% url 'update-user-shipping-address' %}" class="btn btn-outline-secondary">Editar suas informações de entrega</a>
    </div>

    <!-- adicionando e mudando algumas classes bootstrap para ajustar na responsividade das imagens dos livros -->
    <script>
        const myBook = document.querySelectorAll('.my-book');

        function manageSomeBootstrapClasses(element) {
            for (let index = 0; index < element.length; index++) {
                if (index>=2) {
                    element[index].classList.add('d-none');
                }
            }
            element[element.length-1].classList.replace('d-md-flex', 'd-lg-flex');
        }
        manageSomeBootstrapClasses(myBook);
    </script>
{% endblock main_content%}