{% extends "books/base.html" %}
{% block main_content%}
    <div class="container my-5">
        <h1 class="fw-bold text-secondary">Perfil de administração</h1>
        
        <div class="card border-success mb-3">
            <div class="card-header fw-bold text-success">Nota de boas-vindas</div>
            <div class="card-body text-success">
              <h5 class="card-title">Bem-vindo ao perfil de administração sr(a). {{user.username}}</h5>
              <p class="card-text">Aqui você pode fazer upload de livros e gerenciar as suas entregas, este espaço é só para membros autorizados do staff</p>
            </div>
        </div>
        <hr>
        <!-- upload de livros -->
        <div class="card border-primary mb-3">
          <div class="card-header fw-bold text-primary">Upload de livros</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Informação do ultimo livro carregado:</h5>
            <ul>
              <li class="card-text">
                <strong>Título:</strong> {{last_book_uploaded.title}}
              </li>
              <li class="card-text">
                <strong>Autor(a):</strong> {{last_book_uploaded.author.name}}
              </li>
              <li class="card-text">
                <strong>Data do carregamento:</strong> {{last_book_uploaded.date_posted}}
              </li>
            </ul>
          </div>
        </div>
        <a href="{% url 'upload-book' %}" class="btn btn-primary">Carregar livro</a>
        <hr>
        <!-- Anúncio -->
        <div class="card border-secondary mb-3">
          <div class="card-header fw-bold text-secondary">Anunciar</div>
          <div class="card-body text-secondary">
            <h5 class="card-title">Anunciar novidades</h5>
            <p class="card-text">Pode sempre adicionar alguma informação no cabeçalho da página para anunciar alguma novidade</p>
          </div>
        </div>
        <a href="{% url 'upload-announcement' %}" class="btn btn-outline-secondary">Carregar Anúncio</a>
        <hr>
        <!-- upload de livros -->
        <div class="card border-secondary mb-3">
            <div class="card-header fw-bold text-secondary">Entregas</div>
            <div class="card-body text-secondary">
              <h5 class="card-title">Total de livros entregues e não entregues:</h5>
              <span class="text-success"><strong>Total de livros entregues:</strong> {{shipped_quantity}} </span>
              <a href="{% url 'shipped-dash' %}" class="btn btn-sm btn-outline-success">Ver pedidos entregues</a>
              <br><br>
              <span class="text-warning"><strong>Total de livros não entregues:</strong> {{not_shipped_quantity}} </span>
              <a href="{% url 'not-shipped-dash' %}" class="btn btn-sm btn-outline-warning">Ver pedidos não entregues</a>
            </div>
        </div>
    </div>
{% endblock main_content%}