.colunas {
    height: 270px;
}
.authors-image-container {
    width: 140px;
    height: 134px;
    overflow: hidden;
}
.authors-image-container img {
    width: 100%;
    height: 134px;
    object-fit: cover;
}