/* ------ Dissertare --------- */
.search-button {
    border: none;
}
.font-bold {
    font-weight: bold;
}
.book-cover-size {
    width: 196px;
    height: 293px;
}
.home--image-container{
    overflow: hidden;
}
.home--image-container img {
    width: 196px;
    height: 293px;
    object-fit: fill;
}
.text-container-width {
    width: 196px;
    box-sizing: border-box;
}
.title-height {
    height: 48px;
    overflow: hidden;
}
.overflow {
    overflow: hidden;
}
.not-resizable {
    resize: none;
}
.login-background-image {
    background-image: url("../../images/pexels-oladimeji-ajegbile-2861798.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}