.detail--book-cover,
.delete--book-cover {
    width: 234px;
    height: 345px;
    overflow: hidden;
}
.detail--book-cover img,
.delete--book-cover img {
    width: 234px;
    height: 345px;
}
.detail--book-cover img,
.delete--book-cover img {
    object-fit: fill;
}