.book {
    width: 151px;
    height: 335px;
}
.book h5 {
    font-family: Inria_Sans;
}
.book-image {
    position: relative;
    width: 151px;
    height: 225px;
    overflow: hidden;
}
.book-image img {
    width: 151px;
    height: 225px;
    object-fit: fill;
    -o-object-fit: fill;
    object-position: top;
    -o-object-position: top;
}
.book-image .sale {
    width: 100%;
    position: absolute;
    top: 50%;
    color: #ffffff;
    background-color: #ff0000;
}