.book {
    width: 151px;
    height: 335px;
}
.book h5 {
    font-family: Inria_Sans;
}
.book-image {
    width: 151px;
    height: 225px;
    overflow: hidden;
}
.book-image img {
    width: 151px;
    height: 225px;
    object-fit: fill;
    -o-object-fit: fill;
    object-position: top;
    -o-object-position: top;
}