{% extends "books/base.html" %}

{% block main_content %}
<div class="container py-5">
    <div class="row d-flex flex-column flex-lg-row py-3 border rounded">
        <!-- form -->
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- formulário do livro -->
                {{ book_form.non_field_errors }}
                <div class="mb-3">
                    {{book_form.file.errors}}
                    <label class="form-label" for="{{book_form.file.id_for_label}}">{{book_form.file.label}}<span class="text-danger">*</span></label>
                    {{book_form.file}}
                </div>
                <div class="mb-3">
                    {{book_form.title.errors}}
                    <label class="form-label" for="{{book_form.title.id_for_label}}">{{book_form.title.label}}<span class="text-danger">*</span></label>
                    {{book_form.title}}
                </div>
                <div class="mb-3">
                    {{book_form.cover.errors}}
                    <label class="form-label" for="{{book_form.cover.id_for_label}}">{{book_form.cover.label}}<span class="text-danger">*</span></label>
                    {{book_form.cover}}
                </div>
                <div class="mb-3">
                    {{book_form.description.errors}}
                    <label class="form-label" for="{{book_form.description.id_for_label}}">{{book_form.description.label}}<span class="text-danger">*</span></label>
                    {{book_form.description}}
                </div>
                <div class="mb-3">
                    {{book_form.comment.errors}}
                    <label class="form-label" for="{{book_form.comment.id_for_label}}">{{book_form.comment.label}}</label>
                    {{book_form.comment}}
                </div>
                
                <div class="mb-3">
                    {{book_form.author.errors}}
                    <label class="form-label" for="{{book_form.author.id_for_label}}">{{book_form.author.label}}<span class="text-danger">*</span></label>
                    <br>
                    <div class="row d-flex justify-content-start align-items-center p-0 m-0">
                        <div class="col-auto px-0">
                            {{book_form.author}}
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'register-author' %}" class="btn btn-sm btn-outline-success">Adicionar novo autor</a>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    {{book_form.category.errors}}
                    <label class="form-label" for="{{book_form.category.id_for_label}}">{{book_form.category.label}}<span class="text-danger">*</span></label>
                    {{book_form.category}}
                </div>
                <div class="mb-3">
                    {{book_form.price.errors}}
                    <label class="form-label" for="{{book_form.price.id_for_label}}">{{book_form.price.label}}<span class="text-danger">*</span></label>
                    {{book_form.price}}
                </div>
                <div class="mb-3">
                    {{book_form.is_sale.errors}}
                    <label class="form-label" for="{{book_form.is_sale.id_for_label}}">{{book_form.is_sale.label}}</label>
                    {{book_form.is_sale}}
                </div>
                <div class="mb-3">
                    {{book_form.sale_price.errors}}
                    <label class="form-label" for="{{book_form.sale_price.id_for_label}}">{{book_form.sale_price.label}}</label>
                    {{book_form.sale_price}}
                </div>
                <button class="btn btn-primary w-100" type="submit">Carregar</button>
            </form>
        </div>
    </div>
</div>

<script>
    let is_sale = document.querySelector('.is_sale');
    let sale_price = document.querySelector('.sale_price');

    window.addEventListener('load', ()=> {
        if (is_sale.hasAttribute('checked')) {
            // is_sale == true então disabled == false
            // habilitado
            sale_price.removeAttribute('disabled');
        } else {
            // is_sale == false então disabled == true
            // desabilitado
            sale_price.setAttribute('disabled', true);
        }
    });
    
    is_sale.addEventListener('change', ()=> {
        if (is_sale.hasAttribute('checked')) {
            is_sale.removeAttribute('checked')
            sale_price.setAttribute('disabled', true);
        } else {
            is_sale.setAttribute('checked', true)
            sale_price.removeAttribute('disabled');
        }
    });
</script>
{% endblock main_content %}