{% extends "books\base.html" %}
{% block main_content %}
    <div class="mt-5 container items-container overflow rounded">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 text-center text-lg-start mx-auto py-3 rounded bg-light">
            <!-- book cover, price, amount -->
            <div class="book col col-lg-4 col-xl-3 d-flex flex-column justify-content-between align-items-center align-items-lg-start ps-md-4">
                <div class="book-image rounded">
                    <img src="{{book.cover.url}}" alt="book-cover">
                </div>
                <!-- price -->
                <div class="price d-flex justify-content-center py-1">    
                    {% if  book.is_sale %}
                        <!-- if sale is true -->
                        <span class="text-danger fs-5 fw-bold">US${{book.sale_price}} -<span class="ms-2 text-secondary fw-normal text-decoration-line-through">US${{book.price}}</span></span>
                    {% else %}
                        <!-- if sale is false -->
                        <span class="text-primary text-center fs-4">US${{book.price}}</span>    
                    {% endif %}
                </div>
                <!-- buttons -->
                <div class="buttons">
                {% if book_is_in_cart %}
                    <!-- Already have -->
                    <small class="text-secondary">Artigo adicionado ao seu carrinho</small>
                    <a href="{% url 'cart_summary' %}" class="add-to-cart-button btn btn-outline-secondary my-2">Ver artigo no carrinho</a>
                {% else %}
                    <!-- amount buttons group -->
                    <div class="amount-button btn-group" role="group" aria-label="First group">
                        <!-- decrease button -->
                        <button type="button" class="btn btn-sm btn-outline-warning" onclick="decrease()"><</button>
                        <!-- input -->
                        <input type="number" class="amount-input btn btn-sm btn-outline-warning" id="qty-cart" value="1" min="1" max="10" disabled>
                        <!-- increase button -->
                        <button type="button" class="btn btn-sm btn-outline-warning" onclick="increase()">></button>
                    </div>
                    <button type="button" value="{{book.id}}" class="add-to-cart-button btn btn-primary my-2" id="add-cart">Adicionar ao carrinho</button>
                {% endif %}
                </div>
            </div>
            <!-- book description -->
            <div class="col-auto col-md-6 col-lg-8 col-xl-5 book-title-and-description overflow-x-hidden overflow-y-auto">
                <!-- title -->
                <h3 class="fw-bold fs-2">{{book.title}}</h3>
                <a href="" class="text-secondary fw-bold"> <!-- autor --> {{book.author.name}}</a> | <span class="text-secondary fs-6 mb-3"><!-- data --> {{book.date_posted|date:"d b, Y"}}</span>
                <div class="book-description row row-cols-1 overflow-x-hidden overflow-y-auto">
                    <!-- editorecommended-comment (optional) -->
                    <div class="synopsis col pt-2">
                        <h4>Sinopse</h4>
                        <p class="text-start">{{book.description}}</p>
                    </div>
                    {% if book.comment %}
                        <div class="editorecommended-comment col pt-2">
                            <h4>Comentário</h4>
                            <p class="text-start">{{book.comment}}</p>
                        </div>
                    {% endif %}
                </div>
                {% if user.is_superuser %}
                <div class="mt-2 p-2 bg-warning rounded">
                    <small class="mb-3 d-block text-light fw-bold">Zona de administração para edição e remoção do livro use com cautela por favor</small>
                    <span class="d-flex d-md-block justify-content-center">
                        <a href="{% url 'book-update' book.id %}" class="btn btn-sm btn-primary me-3 me-md-2">Editar</a>
                        <a href="{% url 'book-delete' book.id %}" class="btn btn-sm btn-danger">Deletar</a>
                    </span>
                </div>
                {% endif %}
            </div>
            <!-- recommendations -->
            <div class="col-md-12 mt-4 mt-lg-0 d-flex flex-column justify-content-between align-items-center align-items-lg-start ps-md-4 ps-xl-5">
                <h4 class="fw-bold text-left">Continue explorando</h4>
                <p>Lorem ipsum dolor, sit amet consectetur</p>    
                <div class="recommended-books row overflow-hidden">
                    {% for book in books_in_the_same_category %}  
                        <div class="col-auto recommended-book-image overflow-hidden">
                            <a href="{% url 'book-detail' book.id %}">
                                <img class="rounded" src="{{book.cover.url}}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block adicional_scripts %}
<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                book_id: $('#add-cart').val(),
                book_qty: $('#qty-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            
            success: function(json) {
                // console.log(json)
                document.getElementById('cart_quantity').textContent = json.qty
                location.reload();
            },
            
            error: function(xhr, errmsg, err) {
                
            }
        });
    });

    const amountInput = document.querySelector('.amount-input');
    const increase = () => {
        if (Number(amountInput.value) - amountInput.max) {
            amountInput.value = Number(amountInput.value) + 1;
        }
    }
    const decrease = () => {
        if (Number(amountInput.value) > amountInput.min) {
            amountInput.value = Number(amountInput.value) - 1;
        }
    }

</script>
{% endblock adicional_scripts %}