{% extends "books/base.html" %}

{% block navigations_button %}
    <span onclick="goBack()" style="cursor: pointer;">
        <iconify-icon icon="material-symbols:arrow-circle-left-outline" style="color: #000000; font-size: 57px;"></iconify-icon>
    </span>
{% endblock navigations_button %}

{% block main_content %}
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center justify-content-lg-start align-items-center align-items-md-start">
        <!-- book cover and download button container -->
        <div class="col w-25 d-flex flex-column align-items-center me-lg-4 me-md-5 px-0">
            <!-- book cover -->
            <div class="detail--book-cover rounded overflow">
                <img src="{{book.cover.url}}" class="" alt="book-cover">
            </div>

            <!-- download button -->
            <div class="mt-4">
                {% if book_is_in_cart %}
                    <!-- <a href="{% url 'download-book' book.pk %}" download {% if user.is_authenticated %}download="{{book.title}}"{% endif %} type="application/pdf" class="btn btn-lg btn-success px-5">download</a> -->
                    <center>
                        <strong>
                            <small>Você já possui este livro</small>
                        </strong>
                    </center>
                    <a href="{% url 'cart_summary' %}" class="btn btn-lg btn-outline-primary px-5">View Cart</a>
                {% else %}
                    <button type="button" value="{{book.id}}" class="btn btn-lg btn-success px-5" id="add-cart">Add To Cart</button>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-md-2">quantity</div>
                    <div class="col-md-2">
                        <select class="form-select form-select-sm" id="qty-cart">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!-- book info container -->
        <div class="col py-md-0 py-4">
            <!-- book title -->
            <div class="title text-center text-md-start">
                <h1 title="Assassin's Creed The Chain">{{book.title}}</h1>
            </div>

            <!-- se o usuário logado é um administrador do site então apresenta as opções de editar e eliminar -->
            {% if user.is_superuser %}
                <!-- edit and delete button -->
                <div class="d-flex d-md-block justify-content-center">
                    <a href="{% url 'book-update' book.id %}" class="btn btn-sm btn-outline-primary me-3 me-md-2">Edit</a>
                    <a href="{% url 'book-delete' book.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                </div>
            {% endif %}

            <!-- author name and pub date -->
            <br>
            <div class="autor-date text-center text-md-start">
                <h4><span class="font-bold"><a href="{% url 'author-detail' book.author.name %}" class="text-decoration-none text-dark">{{book.author}}</a></span> | <small>{{book.date_posted|date:"d b, Y"}}</small></h4>
            </div>

            <!-- book description -->
            <br>
            <div class="content">
                <p>{{book.description}}</p>
            </div>
        </div>
    </div>
</div>
<script>
    // Check if button pressed
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart_add' %}",
            data: {
                book_id: $('#add-cart').val(),
                book_qty: $('#qty-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },

            success: function(json) {
                // console.log(json)
                document.getElementById('cart_quantity').textContent = json.qty
                location.reload();
            },

            error: function(xhr, errmsg, err) {

            }
        });
    });
</script>
{% endblock main_content %}