{% extends "books/base.html" %}
{% block main_content %}
    <div class="container pt-5">
        <!-- Books on sale -->
        <div class="align-items-center title my-4">
            <!-- category title -->
            <h1 style="display: inline;">Promoção Da Semana</h1>
            <!-- category description -->
            <p class="my-4 w-50">Os Descontos da Samana, para alegrar os teus dias. Uma lista com os livros em promoção com duração de uma semana</p>
            <!-- link -->
            <a href="{% url 'books-on-sale' %}" class="btn btn-outline-primary">Ver os livros em promoção</a>
        </div>
        <div class="container items-container rounded">
            <div class="container items">
                <ul class="d-flex justify-content-between bg-light overflow-y-hidden rounded py-4 px-4 px-md-5">
                    {% for book in books_on_sale %}
                        <li class="book_on_sale p-2 d-md-flex flex-column align-items-center">
                            <div class="image-container rounded">
                                <!-- rótulo de desconto -->
                                <div class="sale px-2 text-center fs-4 fw-bold shadow-sm">
                                    {{book.discount_percentage|floatformat:"0"}}%
                                </div>
                                <!-- imagem da capa do livro -->
                                <img src="{{book.cover.url}}" alt="book-cover">
                            </div>
                            <!-- titulo e autor -->
                            <div class="text text-center">
                                <h1 class="fs-6 fw-bold" title="{{book.title}}">{{book.title}}</h1>
                                <a href="" class="author text-dark">
                                    <h2 class="fs-6" title="{{book.author.name}}">{{book.author.name}}</h2>
                                </a>
                                <!-- botão -->
                                <a href="{% url 'book-detail' book.id %}" class="btn btn-sm btn-outline-primary mt-3 w-100">
                                    Detalhes
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Brand new -->
        <div class="topics align-items-center title my-4">
            <!-- category title -->
            <h1 style="display: inline;">Os Mais Recentes</h1>
            <!-- category description -->
            <p class="my-4 w-50">As mais recentes aquisições, todas organizadas aqui para sí. Descubra novas aventuras, desfrute de novos romances e muito mais</p>
            <!-- link -->
            <a href="{% url 'books' %}" class="btn btn-outline-primary">Ver as novidades</a>
        </div>
        <div class="container items-container rounded">
            <div class="container items">
                <ul class="d-flex justify-content-between bg-light overflow-y-hidden rounded py-4 px-4 px-md-5">
                    {% for book in recent_books %}
                        <li class="brand_new_books p-2 d-md-flex flex-column align-items-center">
                            <div class="image-container rounded">
                                <img src="{{book.cover.url}}" alt="book-cover">
                            </div>
                            <div class="text text-center">
                                <h1 class="fs-6 fw-bold" title="{{book.title}}">{{book.title}}</h1>
                                <a href="" class="author text-dark">
                                    <h2 class="fs-6" title="{{book.author.name}}">{{book.author.name}}</h2>
                                </a>
                                <a href="{% url 'book-detail' book.id %}" class="btn btn-sm btn-outline-primary mt-3 w-100">
                                    Detalhes
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- editor's choice -->
        <div class="d-flex align-items-center mt-5 title">
            <!-- category title -->
            <h1 style="display: inline;">A Escolha Do Editor</h1>
        </div>
        
        <div class="container row editor-choice p-4 my-5 mx-auto overflow-hidden">
            <!-- book info -->
            {% if editor_choice %}  
             <div class="card col-auto w-100 mb-3 me-md-5 border-0" style="max-width: 640px;">
                 <div class="row g-0 p-5 p-md-2">
                     <div class="col-md-4">
                         <img src="{{editor_choice.cover.url}}" class="img-fluid rounded" alt="...">
                     </div>
                     <div class="col-md-8 px-4">
                         <div class="card-body">
                             <!-- Title -->
                             <h5 class="fs-1 editor-choice-book-title card-title" title="{{editor_choice.title}}">{{editor_choice.title}}</h5>
                             <!-- description -->
                             <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                             <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                             {% if editor_choice.is_sale %}
                                 <span class="fs-5" style="text-decoration: line-through; color: gray;">US${{editor_choice.price}}</span> &NonBreakingSpace;
                                 <span class="fs-5 text-danger">US${{editor_choice.sale_price}}</span>
                             {% else %}
                                 <span class="fs-5 text-primary">US${{editor_choice.price}}</span><br>
                             {% endif %}
                             <!-- buttons -->
                             <a href="{% url 'book-detail' editor_choice.id %}" class="btn btn-primary mt-4">
                                 <i class="bi bi-book-fill"></i>&NonBreakingSpace; Ver o livro em detalhes
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- aditional info -->
             <div class="card col-auto mb-3 pt-0 ps-5 ps-md-0 pt-md-4 border-0" style="max-width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title fw-bold">Informação Adicional</h5>
                     <span>
                         <strong>Título:</strong>
                         {{editor_choice.title}}
                     </span>
                     <span>
                         <strong>Editora:</strong>
                         Carla Editora
                     </span>
                     <br>
                     <span>
                         <strong>Autor(a):</strong>
                         {{editor_choice.author.name}}
                     </span>
                     <br>
                     <br>
                     <p class="card-text">
                        <strong>Sinopse:</strong>
                        {{editor_choice.description|truncatewords:15}}
                     </p>
                 </div>
             </div>
            {% endif %}
        </div>

        <!-- Recommendations -->
        <!-- category title -->
        <div class="align-items-center title mt-5">
            <h1 style="display: inline;">Recomendação De Leitura</h1> 
            <p class="my-4 w-50">Se Está com dúvidas sobre qual será a sua próxima leitura, nós criamos várias listas de livros separados por diferentes categorias, dê uma olhada, com certeza encontrará o que procura.</p>
            <a href="{% url 'book-lists' %}" class="btn btn-outline-primary mb-4">Ver recomendações</a>
        </div>
        <div class="container recommendations d-flex justify-content-between align-items-center mb-3 py-3 px-3 rounded">
            {% for list in book_lists %}
                <!-- r1 -->
                <div class="recommendation card me-3 bg-light py-2 px-3 overflow-hidden rounded">
                    <!-- recommendation books -->
                    <div class="recommendation-books w-100 d-flex justify-content-between pt-2 rounded">
                        {% for book in list.books.all %}
                            <div class="recommendation-book overflow-hidden rounded">
                                <img src="{{book.cover.url}}" class="card-img-top" alt="..." title="{{book.title}}">
                            </div>
                        {% endfor %}
                    </div>
                    <!-- description -->
                    <div class="card-body px-0">
                        <h5 class="recommendation-title card-title" title="{{list.list_name}}">{{list.list_name}}</h5>
                        <p class="recommendation-description card-text" title="{{list.list_description}}">{{list.list_description|truncatechars:142}}</p>
                        <p class="card-text"><small class="text-body-secondary">Um total de: {{list.books.all|length}}</small></p>
                        <a href="{% url 'books-from-lists' list.id %}" class="btn btn-outline-primary w-100">Ver lista</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- adicionando e mudando algumas classes bootstrap para ajustar na responsividade das imagens dos livros -->
    <script>
        const booksOnSale = document.querySelectorAll('.book_on_sale');
        const brandNewBooks = document.querySelectorAll('.brand_new_books');
        
        function manageSomeBootstrapClasses(element) {
            for (let index = 0; index < element.length; index++) {
                if (index>=2) {
                    element[index].classList.add('d-none');
                }
            }
            element[element.length-1].classList.replace('d-md-flex', 'd-lg-flex');
        }
        manageSomeBootstrapClasses(booksOnSale);
        manageSomeBootstrapClasses(brandNewBooks);
    </script>
{% endblock main_content %}