{% extends 'books/base.html' %}
{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                      Resumo do pedido
                    </div>
                    <div class="card-body">
                        {% for book in cart_books %}
                            {{book.title}}
                            {% if book.is_sale %}
                                ${{book.sale_price}}
                            {% else %}
                                ${{book.price}}
                            {% endif %}
                            <br>
                            
                            <small>
                                Quantity:
                                {% for key, value in quantities.items %}
                                    {% if key == book.id|slugify %}
                                        {{ value }}
                                    {% endif %}
                                {% endfor %}
                            </small>
                            <br><br>
                        {% endfor %}
                        Total: ${{totals}}
                        <br><br>
                        <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Actualizar Itens</a>
                    </div>
                </div>
                <br><br>
                <div class="card">
                    <div class="card-header">
                      Informação de entrega
                    </div>
                    <div class="card-body">
                        Entrega: {{ shipping_info.shipping_mode }} <br>
                        Nome: {{ shipping_info.shipping_full_name }} <br>
                        Telefone: {{ shipping_info.shipping_phone_number }} <br>
                        Email: {{ shipping_info.shipping_email }} <br>
                        Endereço 1: {{ shipping_info.shipping_address1 }} <br>
                        Endereço 2: {{ shipping_info.shipping_address2 }} <br>
                        Cidade: {{ shipping_info.shipping_city }} <br>
                        <br>
                        <a href="{% url 'checkout' %}" class="btn btn-outline-secondary">
                            Actualizar Informação de Entrega
                        </a>
                    </div>
                </div>
                <br><br>

                <div class="card">
                    <div class="card-header">
                      Método de pagamento
                    </div>
                    <div class="card-body">
                        <form action="{% url 'process_order' %}" method="post">
                            {% csrf_token %}
                            {% for choice in billing_form.payment_mode %}
                                <div class="form-check mb-3">
                                    {{choice}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary">Concluir o Pedido</button>
                </form>
                <br><br>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}