{% extends "books/base.html" %}
{% block main_content %}
<div class="container py-5">
    <div class="row">
        <div class="col px-lg-0 text-center text-md-start">
            <h1>Deseja confirmar o <br> <span class="h2">"Pedido nº: {{order.id}}" do pedinte: {{order.full_name}}  como entregue?</span></h1>
            <p>Ao confirmar este pedido com entregue o cliente receberá uma fatura no seu email</p>
            <hr>
            <div class="pb-5 pb-lg-0">
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-warning me-4" value="Confirmar">
                    <a href="{% url 'not-shipped-dash' %}" class="btn btn-outline-primary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}