{% extends "books/base.html" %}
{% block main_content %}
    <!-- main content -->
    <div class="container my-5">
        <div class="card border-primary mb-3">
            <div class="card-header text-primary">Nota</div>
            <div class="card-body text-primary">
              <h5 class="card-title">Os seus livros para Download</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="row my-5">
            {% for order_item in order_items %}
                <div class="col my-3 my-lg-0">
                    <div class="card overflow-hidden" style="height: 390px; width: 18rem;">
                        <div class="overflow-hidden" style="width: 100%; height: 290px;">
                            <img src="{{order_item.book.cover.url}}" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                        <h5 class="card-title" title="{{order_item.book.title}}">{{order_item.book.title|truncatechars:26}}</h5>
                        <a href="{% url 'download_book' order_item.book.pk %}" class="btn btn-success"><i class="bi bi-file-earmark-arrow-down"></i> Download</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main_content %}