{% extends 'books/base.html' %}
{% block main_content %}
    <div class="py-5 container">
        <h1 class="text-success fw-bold">Pedido concluido com sucesso</h1>
        <hr>
        <br>
        <h3>Obrigado por comprar na livraria <strong>Dissertare</strong></h3>
        <p>
            O seu pedido foi concluido com sucesso, a sua fatura foi enviada para o email que indicou no formulário de entrega, caso tenha comprado algum livro digital um link para download destes livros estará disponível no email citado no formulário de entrega. Agradecemos pela sua preferência e esperamos pela sua visita mais vezes.
        </p>
        <p>
            <a href="{% url 'home' %}" class="link link-primary">pode sempre voltar para a nossa página home</a> caso queira continuar a explorar os livros disponíveis no nosso site, ou então pesquisar por algum livro
        </p>
    </div>
{% endblock main_content %}